@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Cairo', sans-serif !important;
}

body {
    background-color: #002B36 !important;
}


.fa-heart {
    color : rgba(97%, 3%, 3% , 0.95) !important;
}

textarea {
    height: 150px !important;
}

form > button:nth-of-type(1) {
    background-color: #B58900 !important;
}

td , tr {
    vertical-align: middle !important;
}

.update-btn {
    background-color: #B58900 !important;
}

.delete-btn {
    background-color: #D33682 !important;
}